
@font-face {
  font-family: B612;
  src: url(./fonts/B612-Regular.ttf);
}



body{
	background-color: rgb(240, 240, 240);

}


h1{
  font-family: 'B612', sans-serif;
  color: rgb(60, 60, 60);
}


.container{
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
}


